.navbar {
    height: 300px;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1598350741397-66f612f0ac7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    
}
h1 {
    color: white;
    font-size: 15px;
    
}
.container-fluid {
    /* border: 5px solid; */
    align-content: center;
    height: 200px;
}
.form-group {
    
 
    width: 300px;
    margin:20px;
    
}
.thead {
    background-color: rgb(177, 147, 143);
    border-bottom: 5px solid white;
    
}


